# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\BeCode\Projects\ant-lamarr-4-27\1.The-Fields\5.js-complete-course\01-base\01-var-alert\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
